nav a {
  color: rgb(233, 188, 51);
}
nav ul {
  font-size: 1.5em;
}
p {
  max-width: 75vw;
}
#Band_Logo_Nav {
  width: 12.5rem;
  padding-top: 15px;
}
#About_Container p {
  max-width: 60vw;
}

#Home_Container {
  position: relative; /* Make the container a positioning context */
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../assets/cover_2.jpg"); /* Your image path */
  background-size: auto 100%; /* Adjust width to auto for repeat */
  background-position: center; /* Center the image vertically */
  background-repeat: repeat-x; /* Repeat the image horizontally */
}

#Home_Container::before {
  content: ""; /* Create an empty pseudo-element */
  position: absolute; /* Position it absolutely within the container */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  bottom: 0; /* Align to the bottom */
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay with 75% opacity */
  z-index: 1; /* Ensure it sits above the background image */
}

#Home_Container > * {
  position: relative; /* Position child elements above the overlay */
  z-index: 2; /* Ensure child elements are above the overlay */
}

#About_Container,
#Contact_Container,
#Home_Container,
#Music_Container,
#Tour_Container,
#Subscribe_Container {
  flex-wrap: wrap;
}
#Hamburger {
  display: none;
}
#Marquee {
  animation: move-rtl 25000ms linear infinite;
}
@keyframes move-rtl {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-1000px);
  }
}
#Nav_Social {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
#Nav_Social a {
  margin: 0;
  padding: 0.35rem;
}
.nav_social_icons {
  filter: invert(1);
  width: 40px;
  height: 60px;
  object-fit: fill;
}
.nav_social_icons:hover {
  filter: invert(20%);
  transition: filter 0.25s ease;
}
.nav_social_icons-tiktok {
  filter: invert(1);
  width: 35px;
  height: 35px;
  object-fit: fill;
}
#Nav_Social_Bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#Logo_Min {
  display: none;
}
.gallery img:hover {
  border: 5px solid rgb(255, 255, 255);
  transition: border 0.25s ease;
}
nav a:hover {
  color: rgb(107, 86, 24);
  color: rgb(233, 188, 51);
  transition: color 0.25s ease;
  text-decoration: underline !important;
}
.music-symbols:hover {
  filter: invert(85%);
  transition: filter 0.25s ease;
}
#Bottom_Container a:hover {
  color: rgb(157, 157, 157);
  transition: color 0.25s ease;
}
.form-group button:hover {
  background-color: rgb(107, 86, 24);
  transition: background-color 0.25s ease;
}
#closeBtnImage:hover {
  opacity: 1;
  transition: opacity 0.25s ease;
}
#Video_YouTube {
  width: 33%;
  height: 400px;
  border-radius: 1rem;
  border: 2.5px solid black;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  border: 7.5px solid transparent; */
}
