@font-face {
  font-family: JosefinSans;
  src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
  font-display: swap;
}
body {
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
address {
  margin: auto;
}
body {
  padding: 0;
  margin: 0;
  font-family: JosefinSans;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(55, 55, 55, 1);
  background-size: cover;
  color: #fff;
}
button {
  cursor: pointer;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: #000;
  text-align: center;
  height: 30px;
  display: flex;
}
li {
  list-style-type: none;
}
nav ul {
  padding-left: 0;
}
nav ul li {
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
  text-align: center;
  font-size: 1.15rem;
  font-weight: 375;
}
.category-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  /* border-top-right-radius: 50% 25%; border-top-left-radius: 50% 25%; border-bottom-right-radius: 50% 25%; border-bottom-left-radius: 50% 25%; */
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  border: 5px solid #5c6a40;
  margin: 2.5%;
  width: 210px;
}
.card h4 {
  padding: 0;
  margin-bottom: 0;
}
.card-image {
  width: 10rem;
  height: 10rem;
  padding: 15px;
  border-radius: 25%;
}
.music-symbols {
  width: 2.25rem;
}
.strikethrough {
  text-decoration: line-through;
}
#About_Container,
#Subscribe_Container {
  padding-bottom: 15px;
}
#About_Container h3 {
  margin: 1rem 0rem 0.5rem 0rem;
}
#About_Container h4 {
  margin: 0.5rem;
  color: rgb(233, 188, 51);
}
#About_Container p {
  margin-top: 0;
}
#Band_Logo_Home {
  width: 75%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 25px 10px;
  border: 7.5px solid transparent;
}
#Contact_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Fill_Container {
  min-height: 400px;
}
#Header {
  position: sticky;
  margin-top: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
  box-shadow: 0px 3px 3px rgb(0, 0, 0);
  text-align: center;
}
#Header a {
  text-decoration: none;
  font-weight: 600;
  padding: 0 1rem;
}
#Header h1 {
  margin: 0;
  padding-top: 1.5rem;
}
#Header ul {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#Contact_Container,
#Home_Container,
#Music_Container,
#About_Container,
#Tour_Container,
#Subscribe_Container,
#Bottom_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#Main {
  text-align: center;
}
#Music_Container,
#Subscribe_Container,
#Bottom_Container {
  background-color: rgba(243, 199, 3, 0.185);
}
#Bottom_Container {
  padding-bottom: 30px;
}
#Bottom_Container ul {
  margin: 0;
  padding: 0;
}
#Bottom_Container ul li {
  text-decoration: none;
  margin: 0;
  padding: 0.25rem;
}
#Bottom_Container a {
  text-decoration: none !important;
  color: white;
}
#Home_Text p {
  font-size: 1.5rem;
}
#Music_Symbols_Container {
  display: flex;
  gap: 2rem;
  padding: 0.5rem 0;
}
#Marquee {
  height: 22px;
  white-space: nowrap;
}
#Members_Image {
  width: 80%;
  border-radius: 25px;
  border: rgba(128, 128, 128, 0.486) solid 4px;
}
#Tour_Container span {
  font-size: larger;
  font-weight: bold;
}

#Tour_Container span:nth-child(6) {
  font-size: medium;
}

#Tour_Disclaimer {
  margin: 0;
}
#Tour_List {
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
#Tour_List li {
  padding: 0.25rem;
}
#Tour_List li:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 0.25rem;
  border-bottom: 1px solid black;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group input,
.form-group button,
.form-group textarea {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  font-weight: bold;
  box-shadow: 1.5px 1.5px #000000;
}
.form-group button {
  background-color: rgb(233, 188, 51);
  width: 80px;
}
#Legal_List {
  padding: 0;
}
#Privacy_Contact {
  color: rgb(183, 229, 47);
}
#Members h3 {
  margin-top: 0;
}
#Subscribe-Text {
  display: none;
} /* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery img {
  width: 300px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 25px;
  border: 5px solid black;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  margin: auto;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 900px;
  max-height: 1px;
}
.modal-content img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 100%;
  height: auto;
}
.closeBtn {
  background: none;
  border-radius: 50%;
  border: none;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 15px;
  right: 29px;
  cursor: pointer;
  font-weight: bold;
}
#closeBtnImage {
  width: 40px;
  opacity: 0.65;
}
#Gallery_Container {
  display: inline-block;
  border: 2px solid transparent;
  position: relative;
}
#Gallery_Container {
  background: linear-gradient(
    to right,
    black,
    rgb(107, 86, 24),
    rgb(233, 188, 51),
    rgba(243, 199, 3, 0.185),
    rgb(150, 150, 150),
    rgba(243, 199, 3, 0.185),
    rgb(233, 188, 51),
    rgb(107, 86, 24),
    black
  );
  background-size: 100% 100%;
  /* animation: rainbowBorder 20s ease infinite; */
}
/* @keyframes rainbowBorder {
  0% {
    background-position: 1% 50%;
  }
  50% {
    background-position: 99% 50%;
  }
  100% {
    background-position: 1% 50%;
  }
} */
.spotify-container-item {
  border-radius: 12px;
}
#spotify-container {
  max-width: 50rem;
}
#spotify-container iframe {
  width: 90%;
  height: 88px;
}
